.container {
   display: flex;
   background-color: var(--background-color);
  
}


@media screen and (max-width: 480px) {
   .container {
      flex-direction: column;
      
     
   }
}

@media screen and (max-width: 768px) {
   .container {
      flex-direction: column;
   
   }
}