.container__header {
    background-color: var(--background-color);
    color: var(--nav-text-color);

    border-right: 5px dotted var(--border-color);
    display: flex;
    flex-direction: column;


    padding: var(--header-padding);

    width: var(--header-width);

    gap: 5rem;
}




.container__header--logo {}

.container__header--navigation {}

.container__header--navigation-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 700px) {
    .container__header {
        flex-direction: row;
        gap: 5rem;
        width: var(--header-responsive-width);

        border-bottom: 5px dotted var(--border-color);
        border-right: none;
    }

    .container__header--navigation-list {
       
        flex-direction: row;
        gap: 5rem;
    }
}