.container__header {
    background-color: var(--nav-color);
    color: var(--nav-text-color);

    display: flex;
    flex-direction: column;

    padding: var(--header-padding);

    width: var(--header-width);

    gap: 5rem;
}

.container__header--logo {}

.container__header--navigation {}

.container__header--navigation-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container__header--navigation-list li:hover {
    text-decoration: underline;
}